server:
  port: 8082

spring:
  kafka:
    bootstrap-servers: kafka:9092

  mail:
    host: mailhog
    port: 1025
    username:
    password:
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka

logging:
  level:
    org.notification: INFO
