server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/userdb
    username: user
    password: password

  kafka:
    bootstrap-servers: kafka:9092

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka